@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  background: #212;
  color: #ffe;
  font-family: 'Cutive Mono', monospace;
}
